.app{
    height: 100vh;
    display: flex;
    background-color: #020230;
    color: aliceblue;
}
.main{
    width: 70%;
    background:linear-gradient(to bottom,rgba(0,0,0,0),#020230), url("./doc/bg.jpg") center;
display: flex;
flex-direction: column;    
}
.endText{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}
.top{
    height: 50%;
    position: relative;
}
.timer{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    align-items: center; 
    justify-content: center;
font-size: 30px;
font-weight: 700;
position: absolute;
bottom: 10px;
left: 100px;
}
.bottom{
    height: 50%;
}
.trivia{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.question{
    width: 80%;
    background: linear-gradient(#100241,black);
    border: 2px solid white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.answers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.answer{
    width: 40%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(#0e0124,#22074d);
    border: 1px solid white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 300;
    margin: 0 10px 20px;
    cursor: pointer;
}
.answer.active,
.answer:hover{
    background: blueviolet;
}
.answer.correct{
    animation: correct 3s ease forwards;
}
@keyframes correct{
    0%,22%,42%{
        background:blueviolet;
    }
    20%,40%,60%{
        background: linear-gradient(#0e0124,#22074d);;
    }
    62%,100%{
        background: green;
    }
}


.answer.wrong{
    animation: wrong 3s ease forwards;
}
@keyframes wrong{
    0%,22%,42%{
        background:blueviolet;
    }
    20%,40%,60%{
        background: linear-gradient(#0e0124,#22074d);;
    }
    62%,100%{
        background: crimson;
    }
}
.pyramid{
    width: 30%;
    display: flex;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.moneyList{
    list-style-type: none;
    width: 100%;
    padding: 20px;
    align-items: center;
   
}

.moneyListItem{
display: flex;
align-items: center;
padding: 5px;
border-radius: 5px;
border: 1px solid whitesmoke;
}


.moneyListItemNumber{
    font-size: 18px;
    font-weight: 100;
 width: 30%;   
}

.moneyListItemAmount{
    width: 30%;
    font-size: 20px;
    font-weight: 100;
}
.moneyListItem.active{
    background-color: teal;

}
.ClickInstruction{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    bottom: 0;left: 0;right: 0;
    margin: auto;
    
}

.full-body{
    margin: 0;
    width: 100%;
    height: 100vh;
    background:linear-gradient(to bottom,rgba(0,0,0,0),#020230), url("./doc/intro.jpg") no-repeat center;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    justify-content: space-between;
}

.start{
    width: 250px;
    height: 100px;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    bottom: 0;left: 0;right: 0;
    margin: auto;
    
}
.startInput{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}
.startInput{
    outline: none;
}
.startButton{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
}
.startButton:hover{
    background-color: rgb(187, 181, 117);
    font: 300;
}
.instruction{
    
    background:linear-gradient(to bottom,rgba(0,0,0,0),#020230);
    display: inline;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;right: 0;
    margin: auto;
}